@import "./1.variable/_variable.scss";
@import "./2.mixin/_mixin.scss";
@import "./3.reset/_reset.scss";

.navigation-page {
  background: linear-gradient(
    100deg,
    #b2fcef,
    #c8c4ff,
    #d8b7ff,
    #ffbeea,
    #ffebc1
  );
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2e2459;
  position: relative;

  h1 {
    font-size: $text-4xl;
    font-weight: $font-bold;
    margin-bottom: $m-8;
    color: $primary-Darkblue;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    display: flex;
    gap: $m-8;

    button {
      background: linear-gradient(135deg, #ff512f 0%, #dd2476 100%);
      border: none;
      border-radius: 12px;
      box-shadow: $box-shadow-strong;
      padding: $p-4 $p-8;
      cursor: pointer;
      transition: all 0.3s ease;

      a {
        color: $light;
        text-decoration: none;
        font-size: $text-lg;
        font-weight: $font-semibold;
        letter-spacing: 0.5px;
      }

      &:hover {
        transform: scale(1.08);
        box-shadow: 0 8px 24px rgba($dark, 0.2);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }

  footer {
    position: absolute;
    bottom: 20px;
    font-size: $text-sm;
    color: rgba(55, 38, 106, 0.7);
  }
}
